body {
    text-align: center;
    color: black;
    accent-color: green;
    /* For radio buttons*/
}

a {
    color: black;
}


form {
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
}


footer {
    margin-top: 80px;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: lightgray;
    padding: 10px;
    display: flex;
    word-break: break-all;
}

.right-div {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#inputText {
    height: 100px;
    width: 100%;
    font-size: 20px;
    text-align: left;
    align-self: center;
    background: #e9ebe7;
}

#outputText {
    font-size: 20px;
    text-align: left;
}